.appBody {
    padding: 20px 20px 40px 20px;
    background-color: #FFFFFF;
    flex: auto;
}

.s-container {
    border-left: 3px solid #106897;
    border-right: 3px solid #106897;
    padding: 10px 15px;
    margin-bottom: 30px;
    background: rgb(201, 231, 247);
    text-align: center;
    width: 1400px;
    height: 1400px;
}

.form {
    padding: 20px;
    text-align: inherit;
}

.formContent {
    padding: 20px;
    text-align: center;
}