<!doctype html>
<html ng-app="webApp">
  <head>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/services.js"></script>
      
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainStyle.css">
  </head>
  <body>
    <title> Salary Comparisons </title>
    <div class="appBody col-xs-12" ng-controller="webController" ng-cloak>
        
        <div ng-init="init()"></div>
        <div class="errorBox"></div>
        
        <div ng-show="showApps">
            
            <div class="s-container">
                <h1> Salary Comparisons </h1>
                
                
                <form class="form" ng-submit="submit(jobTitle, yrsOfExp)">
                    <div class="row col-lg-12 formContent">
                        <span class="col-lg-4"></span>
                        <input class="col-lg-4" type="text" ng-model="jobTitle"  size="50" placeholder="Job Title">
                        <span class="col-lg-4"></span>
                    </div>
                    
                    <div class="row col-lg-12 formContent">
                        <span class="col-lg-4"></span>

                        <input class="col-lg-4" type="text" ng-model="yrsOfExp" size="50" placeholder="Years of Experience">
                        
                        <span class="col-lg-4"></span>

                    </div>
                    
                    <div class="row col-lg-12 formContent">
                        
                        <span class="col-lg-4"></span>

                        <input class="col-lg-4 btn-primary" type="submit" value="Submit">
                        
                        <span class="col-lg-4"></span>

                    </div>
                    

                </form>
            </div>
        
        </div>
        
    </div>
  </body>
</html>